
/* Your CSS Code here. */
.holder{
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-between;
    flex-flow: wrap row;

    font-size: 50px;
}

.item{
    height: 18vh;
    width:16vw;
    /* border: 2px solid blue; */
    background-color: green;
}

.item-1{
    background-color: red;
}

.item-2{
    background-color: blue;
}